{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://drive.google.com/file/d/1zq04sy8vjjmSKot_LewQ5Um9M7pnz17H/view?usp=drive_link">
{% block body %}
<img style="width:100%;" id="image" src="https://drive.google.com/file/d/1z7JplgSvZUvOMEtRxxy1O9vKBbTs3bWf/view?usp=drive_link">

<div class="footer">
	<div class="container">
		<h2><a href="{% url 'examapp:index' %}">Exam Portal</a></h2>
		<p>© 2023 Exam Portal. All Rights Reserved</p>
	</div>
</div>
{% endblock %}